<% layout("layouts/boilerplate.ejs") %>
    <form class="show" method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <ul>
            <h3>
                <%= listing.title %>
            </h3>
            <li>
                <img id="img" src="<%= listing.image.url %>">
            </li>
            <li class="show-grp">
                Owned by <span style="font-style: italic;">
                    <%= listing.owner.username %>
                </span>
            </li>
            <li class="show-grp">
                <%= listing.description %>
            </li>
            <li class="show-grp">
                &#8377; <%= listing.price?.toLocaleString() %>
            </li>
            <li class="show-grp">
                <%= listing.location %>
            </li>
            <li class="show-grp">
                <%= listing.country %>
            </li>
            <% if(user && user._id.equals(listing.owner._id)) { %>
                <a class="button" href="/listings/<%= listing._id %>/edit">Edit Listing</a>
                <button class="button" type="submit">Delete Listing</button>
                <% } %>
        </ul>
    </form>
    <% if(user) { %>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" class="review-form">
            <h3>Leave a Review</h3>
            <div class="review-form-grp">
                <label for="rating">Rating</label>
                <input type="range" name="review[rating]" id="rating" min="1" max="5">
            </div>
            <div class="review-form-grp">
                <label for="comment">Comment</label>
                <textarea name="review[comment]" id="comment" rows="5"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
        <% } %>
            <div class="reviews">
                <h3>Reviews</h3>
                <ul>
                    <% listing?.reviews.forEach(review=> { %>
                        <form method="POST"
                            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                            class="delete">
                            <li class="review-card">
                                <h4 class="review-card-title">
                                    <%= review.author.username %>
                                        <h4 />
                                        <p class="review-cartd-text">
                                            <%= review.comment %>
                                        </p>
                                        <p class="review-cartd-text">
                                            <%= review.rating %>
                                        </p>
                                        <button type="submit" class="review-del">Delete</button>
                            </li>
                        </form>
                        <% }) %>
                </ul>
            </div>